.flexbox-container{
    display: flex;
     justify-content: center;  padding: 5px;
    background-color: lightcyan;
}
.flexbox-item{
    padding: 5px;
    margin: 5px;
    background-color: orange;
}