.decoration{
    font-size: 48px;
    color: rgb(255,0,0);
    font-style: italic;
    line-height: 4.5;
    letter-spacing: 1.5em;
    text-decoration: line-through;
    border-top: solid 5px red;
    border-bottom: dotted 3px blue;
}